/* body */

body{
background:#f5f5f5;
font-family: 'Open Sans', sans-serif;
}

/* Global Typography */

@font-face {
font-family: 'Open Sans';
font-style: normal;
font-weight: 300;
src: local('Open Sans Light'), local('OpenSans-Light'), url(../fonts/open-sans.woff) format('woff');
}
h1, h2, h3, h4, h5, h6{
font-family: 'Open Sans', sans-serif;
font-weight:100;
font-style:italic;
}
p{
font-family: 'Open Sans', sans-serif;
font-size:0.8em;
}
/*bootstrap override */

.pagination {
margin-top:0;
margin-bottom:0;
}

.pagination .disabled a {
cursor: default !important;
}

.pagination .pagination_disabled  a{
border-top-width:0; 
border-bottom-width:0;
}

/* global generic */
.no-border{
border:0;
}
.no-border-radius {
-webkit-border-radius: 0;
-moz-border-radius: 0;
border-radius: 0;
}
.no-border-top-radius {
-webkit-border-top-left-radius: 0;
-moz-border-radius-bottomleft: 0;
border-top-left-radius: 0;
-webkit-border-top-right-radius: 0;
-moz-border-radius-bottomright: 0;
border-top-right-radius: 0;
}
.center-block {
float:none;
display: block;
margin-left: auto;
margin-right: auto;
}

.debugbox{
background:red;
}

.promptbox{
padding-left:3%;
padding-right:3%;
padding-top:5em;
}

.inputerror{
font-size:0.8em;
color:#f00;
}
.floatright{
float:right;
}
.fullwidth{
width:100% !important;
}

/* Post Editor Specific */

.title_field{
font-size:1.5em;
height:2em;
}

.rawcontent_field{
resize:none;
min-height:25em;
width:100%;
border-top-width:0;
border-bottom-width:0;
-webkit-box-shadow: inset 0 0px 0px !important;
box-shadow:0;
border-color:#ddd !important;
}

.panel-under-content-field{
border-top-width:0;
width:100%;
padding:15px;
margin-bottom:0px;
padding-bottom:5px;
padding-top:20px;
border-bottom-width:0;
background:#efefef;
}
.panel-under-tag-field{
width:100%;
padding:15px;
border-top-width:0;
background:#efefef;
}

/* paneling */
.panel-body .badge{
float:right;
}

.panel-body h4{
padding-top:0;
margin-top:0;
}

.form-subgroup{
width:100%;
line-height:32px;
padding:0;
margin:0;
height:32px;
background:#f9f9f9;
}

.form-subgroup{
padding-left:1em;
}
.flatbottom{
-webkit-border-bottom-right-radius: 0px;
-webkit-border-bottom-left-radius: 0px;
-moz-border-radius-bottomright: 0px;
-moz-border-radius-bottomleft: 0px;
border-bottom-right-radius: 0px;
border-bottom-left-radius: 0px;
}

.flattop:first-child{
-webkit-border-top-right-radius: 0px;
-webkit-border-top-left-radius: 0px;
-moz-border-radius-topright: 0px;
-moz-border-radius-topleft: 0px;
border-top-right-radius: 0px;
border-top-left-radius: 0px;
}

.borderless-top{
border-top-width:0px;
}